<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Functional Testing Suite">
    
    <!-- Home Page Tests -->
    <test name="Home Page Tests" enabled="true">
        <parameter name="browserName" value="edge" />
        <parameter name="url" value="https://automationexercise.com/" />
        <classes>
            <class name="com.testCases.HomePageTestCases" />
        </classes>
    </test>

    <!-- Product Page Tests -->
    <test name="Product Page Tests" enabled="true">
        <parameter name="browserName" value="chrome" />
        <parameter name="url" value="https://automationexercise.com/" />
        <classes>
            <class name="com.testCases.ProductPageTestCases" />
        </classes>
    </test>

    <!-- Contact Page Tests -->
    <test name="Contact Page Tests" enabled="true">
        <parameter name="browserName" value="edge" />
        <parameter name="url" value="https://automationexercise.com/" />
        <classes>
            <class name="com.testCases.contactPageTestCases" />
        </classes>
    </test>

    <!-- Cart Page Tests -->
    <test name="Cart Page Tests" enabled="true">
        <parameter name="browserName" value="chrome" />
        <parameter name="url" value="https://automationexercise.com/" />
        <classes>
            <class name="com.testCases.CartPageTestCases" />
        </classes>
    </test>

    <!-- Login Page Tests -->
    <test name="Login Page Tests" enabled="true">
        <parameter name="browserName" value="chrome" />
        <parameter name="url" value="https://automationexercise.com/" />
        <classes>
            <class name="com.testCases.LoginTestCases" />
        </classes>
    </test>

    <!-- Registration Page Tests -->
    <test name="Registration Page Tests" enabled="true">
        <parameter name="browserName" value="chrome" />
        <parameter name="url" value="https://automationexercise.com/" />
        <classes>
            <class name="com.testCases.RegistrationTestCase" />
        </classes>
    </test>

    <!-- Logout Page Tests -->
    <test name="Logout Page Tests" enabled="true">
        <parameter name="browserName" value="chrome" />
        <parameter name="url" value="https://automationexercise.com/" />
        <classes>
            <class name="com.testCases.LogoutTestCase" />
        </classes>
    </test>
</suite>
